.container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 25px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.text {
    color: black;
}